{{!< main}}
<h1>Products</h1>
<div id="products-list">
  {{#each products}}
    <div class="product">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Price: {{price}}</p>
      <p>Category: {{category}}</p>
      <a href="/products/{{id}}">View Details</a>
      <button onclick="addToCart('{{id}}')">Add to Cart</button>
    </div>
  {{/each}}
</div>
<script>
  function addToCart(productId) {
    fetch(`/api/carts/${cartId}/product/${productId}`, {
      method: 'POST'
    }).then(response => {
      if (response.ok) {
        alert('Product added to cart');
      } else {
        alert('Unable to add product to cart');
      }
    });
  }
</script>